.notusednotusednot {
  margin: 14px;
  padding: 14px;
  font-family: sans-serif;
}

.navbar {
  margin-bottom: 0;
  /*justify-content: flex-end !important;*/
  height: 52px;
  background-color: #f8f9fa !important;
}

.col {
  padding-right: 0 !important;
  padding-left: 0 !important;

}

/*.col-9 {*/
  /*padding-right: 0 !important;*/
  /*padding-left: 0 !important;*/

/*}*/

.container {
  max-width: 100% !important;
}

.foobar{
  display: inline-block !important;
  float: right;
}


/*text-align: center;*/
