.navbar {
    margin-bottom: 0;
    /*justify-content: flex-end !important;*/
    height: 44px;
    background-color: #f8f9fa !important;
    padding: 0 0.5rem 3.0rem 1.2rem !important
}

.col {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.col-9 {
    margin-top: 14px !important;
}

.container {
    max-width: 100% !important;
}

.nav-item {
    cursor: pointer;
    font-size: 2rem;
}

.profile-edit-modal {
    max-width: 320px !important;
}

.csv-upload-modal {
    max-width: 420px !important;
}

.profile-edit-field {
    margin-bottom: 14px !important;
}

.profile-edit-alert {
    max-width: 300px;
    margin-top: 12px;
    margin-left: 18px;
    margin-right: 18px;
}

.navitem-alert {
    margin-top: 12px;
    margin-left: 18px;
    margin-right: 18px;
}

.navitem-field-err {
    color: orangered;
    margin-left: 28px;
}

#ttip {
    background-color: #4A4A4A !important;
}

#ttip > .tooltip-arrow {
    background-color: #4A4A4A !important;
}

.csv-upload-confirm {
    display: inline-flex;
    width: 100px;
    margin-left: 26px;
    margin-bottom: 12px;
}

.csv-upload-clear {
    display: inline-flex;
    width: 100px;
    margin-bottom: 12px;
    margin-left: 26px;
}

.navitem-file-input {
    background-color: #f8f9fa !important;
    border-color: #007bff;
    margin-top: 20px;
    margin-left: 24px;
    cursor: pointer;
}

.navitem-info {
    font-size: small;
    color: cornflowerblue;
    margin-left: 26px;
    display:block;
}

.navitem-btn {
    margin-top: 12px;
    margin-left: 28px;
    margin-bottom: 18px;
}

.form-label {
    margin-left: 16px;
    margin-top: 14px;
    cursor: crosshair !important;

}

input[type='file'] {
    cursor: pointer;
    display: block;
    font-size: 0;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

.overflow-hidden {
    overflow: hidden;
    position: relative;
}

.modal-select {
    margin: 26px 26px 12px ;
}
