.center{
    font-family: 'Raleway', sans-serif;
    background-color: papayawhip;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    background-color: #fff;
    border-radius: 15px;
    padding: 0.8rem;
}
.card > form{
    display: flex;
    flex-direction: column;
}
.card h5{
    text-align: center;
    margin-top: 0;
    margin-bottom: 18px;
}
.form-item, .password-invalid-login{
    font-family: 'Raleway', sans-serif;
    padding: 5px;
    margin-bottom: 2rem;
    height: 30px;
    width: 16rem;
    border: 1px solid grey;
}
.form-item, .new-password{
    font-family: 'Raleway', sans-serif;
    padding: 5px;
    margin-bottom: 1rem !important;
    height: 30px;
    width: 16rem;
    border: 1px solid grey;
}
.password-invalid-login{
    margin-bottom: 1rem !important;
}
.auth-item-error{
    font-family: 'Raleway', sans-serif;
    padding: 5px;
    height: 30px;
    width: 16rem;
    border: 1px solid grey;
}
.form-submit{
    font-family: 'Raleway', sans-serif;
    height: 35px;
    color: #fff;
    background-color: #1abc9c;
    border: none;
    letter-spacing: 0.2rem;
    transition: 0.3s opacity ease;
    cursor: pointer;
}
.reg-submit{
    margin-top: 10px;
}
.form-submit:hover{
   opacity: 0.6;
}
.registration-modal{
    max-width: 400px;
}
.reg-modal-button{
    margin-top: 20px;
    height: 25px;
    background-color: #BFC9B8
}
.auth-errors, .login-error{
    text-align: right;
    color: orangered;
}
.login-error{
    text-align: left !important;
    margin-bottom: 1em;
}
.forgot-links{
    margin-top: 12px;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
}
.forgot-field{
    color: #888f83;
    margin-left: 14px;
    margin-right: 14px;
    cursor: pointer;
    font-size: small;
}
.forgot-field-text{
    margin-top: 8px;
    margin-left: 18px;
    margin-bottom: 8px;
    font-size: small;
}
.password-reset-done{
    max-width: 300px;
    margin-top: 12px;
}